<div class="graphics-container">
    <input type='hidden' id="value_from_server" value={{all}} />
    <div class="all_jobs">
        <div class="graphic-div">
            <h2>Variação em Brasília</h2>
            <canvas id="myChart-line" width="200" height="90" state="BSB"></canvas>
        </div>

        <div class="graphic-div">
            <h2>Variação em São Paulo</h2>
            <canvas id="myChart-line" width="200" height="90" state="BSB"></canvas>
        </div>

        <div class="graphic-div">
            <h2>Variação em Belo Horizonte</h2>
            <canvas id="myChart-line" width="200" height="90" state="BSB"></canvas>
        </div>

        <div class="graphic-div">
            <h2>Variação em Florianópolis</h2>
            <canvas id="myChart-line" width="200" height="90" state="BSB"></canvas>
        </div>
    </div>
    <div class="all_jobs">
        <div class="graphic-div">
            <h2>Vagas em Brasília</h2>
            <canvas id="myChart" width="200" height="90" state="BSB"></canvas>
        </div>

        <div class="graphic-div">
            <h2>Vagas em São Paulo</h2>
            <canvas id="myChart" width="200" height="90"  state="SP"></canvas>
        </div>

        <div class="graphic-div">
            <h2>Vagas em Belo Horizonte</h2>
            <canvas id="myChart" width="200" height="90"  state="MG"></canvas>
        </div>

        <div class="graphic-div">
            <h2>Vagas em Florianópolis</h2>
            <canvas id="myChart" width="200" height="90"  state="SC"></canvas>
        </div>
    </div>
</div>