<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles.css" />
        <link rel="stylesheet" href="updatestyles.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
        
        <link rel='shortcut icon' href='favicon.ico' />
        <link rel='icon' href='favicon.ico' />
        <title>E as vagas?</title>

    <head>